/* command dibawah digunakan untuk mengatur tata letak elemen-elemen html */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
}

/* command dibawah digunakan untuk mengatur gaya/style elemen body dalam html */
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(16, 9, 52), rgb(52, 4, 4));
    background-image:url(https://cdn.pixabay.com/photo/2017/04/23/14/23/nebula-2253941_640.jpg);
    background-size: cover;
    background-position: center;
}

/* command dibawah digunakan untuk mengatur gambar yang ada didalam kelas card */
.card img{
    border-radius: 5px;
    width: 40%;
    height: 70%;
}

/* command dibawah digunakan untuk mengatur gaya/style teks dari elemen <P> */
p{
    color: aliceblue;
    padding: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* command dibawah digunakan untuk mengatur gaya/style dari elemen <h1>  */
h1{
    padding: 2%;
    color:aliceblue;
    text-align: center;
}

/* command dibawah digunakan untuk mengatur gaya/style pada kelas card */
.card{
    padding: 40px;
    justify-content: center;
    width: 55%;
    height: auto;
    border-radius: 50px;
    border: 4px solid #6e4d1b;
    background-color: rgba(16, 14, 47, 0.604);
    box-shadow: 0 20px 40px #1321bb;
}